@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Montserrat', sans-serif;
    color:#fff;
}
.hero-bg{
    background:linear-gradient(rgba(233, 165, 17, 0.2),rgba(0, 0, 0, 0.5)),url('https://images.pexels.com/photos/407041/pancakes-maple-syrup-sweet-407041.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    height:60vh;
}
.nav-bar{
    background-color:orange;
}
ul li{
    display:inline-block;
    margin:1em 0 1em 1em;
}
ul li a{
    color:#fff;
    text-decoration:none;
    text-transform: uppercase;
    font-weight:bold;
    font-size:1rem;
    letter-spacing: .3em;
}
.same-line{
    display:flex;
}
.search-container{
    background-color:#fff;
    margin:7em 0 0 3em !important;
    padding:1em;
    border-radius:.3em;
    width:30em;
    height:4em;
}
input[type="text"]{
    padding:.8em;
    width:25em;
    margin-top:1.2em;
    border:1px solid#ed900e;
}
button[type="submit"]{
    padding:.6em;
    width:7em;
    background-color:#fd990d;
    border:none;
    border-radius:.5em;
    outline:none;
    color:#fff;
    font-weight:bold;
    font-size:1em;
    letter-spacing: .2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}
button[type="submit"]:hover{
    background-color: #ed900e;
}
.info{
    margin:4em 0 1em 5em;
    width:300px;
}
.info h1{
    text-transform:uppercase;
    font-weight:bold;
    font-size:3rem;
    letter-spacing:.1em;
    margin-bottom:.2em;
}
.info p{
    font-size:1.2rem;
    width:30em;
    text-align: justify;
}
.main-content{
    margin:1em;
    text-align:center;
    color:#ed900e;
}
.main-content h1{
    text-transform: uppercase;
    text-align:center;
    color:#ed900e;
    font-weight: bold;
    font-size:2rem;
    letter-spacing:.2em;

}
.order-menu{
    display: flex;
    flex-wrap: wrap;
    max-width:1500px;
    margin:5px 150px;;
}
.order{
    height:auto;
    width:17em;
    margin:2em;
    background-color:#fff;
}
.order p{
    margin:.3em;
    font-size:1rem;
    color:#ed900e;
}
.order button{
    width:100%;
    padding:1em;
    background-color:#ed900e;
    color:#fff;
    font-weight:bold;
    font-size:1rem;
    border:none;
    outline:none;
    cursor:pointer;
}
.footer{
    background-color:#cccfe8;
    margin-top:5em;
    padding:2em;
    color:#ed900e;
    height:5em;
    text-align: center;
}
.footer p{
    font-weight:bold;
    font-size:1.5rem;

}
